{
	auto_https disable_redirects
	local_certs
}

https:// {
	tls internal {
		on_demand
	}

	handle /proxy/* {
		reverse_proxy ws-proxy:3006
	}

	@mock-ws {
		path /ws
		header Connection *Upgrade*
		header Upgrade websocket
	}
	handle @mock-ws {
		reverse_proxy mock-node:3005
	}

	handle {
		reverse_proxy bramble-webapp:8085
	}
}

http:// {
	handle /health {
		respond "ok" 200
	}

	handle /proxy/* {
		reverse_proxy ws-proxy:3006
	}

	@mock-ws {
		path /ws
		header Connection *Upgrade*
		header Upgrade websocket
	}
	handle @mock-ws {
		reverse_proxy mock-node:3005
	}

	handle {
		reverse_proxy bramble-webapp:8085
	}
}
